@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body{
    margin:0
}

body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #ffffff ;
    width: 100vw;
    height: 140px;
    position: relative;
    flex-flow: column wrap;
}

.header-logo{
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: blue;
}

.header-menu{
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: violet;
    justify-content: center;
    align-items: center ;
}


h1{
    display: flex;
    color:bisque;
    min-height: 6vh;
    position: absolute;
    text-align: center;
    margin: auto;
}

.button{
    display: flex;
    height: 50px;
    width: 150px;
    border: 2px transparent;
    border-radius: 25px;
}